In [1]:
'''
This script processes, cleans, and merges multiple datasets from the Boston Globe and 
census data for the years 2010 to 2019. 
'''

'\n'

In [2]:
# Importing necessary libaries 
import pandas as pd

In [3]:
# Loading Boston Globe dataset 
df_2010 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/2010-19 datasets/2010_final.csv')

In [4]:
df_2011 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/2010-19 datasets/2011_final.csv')

In [5]:
df_2012 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/2010-19 datasets/2012_final.csv')

In [6]:
df_2013 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/2010-19 datasets/2013_final.csv')

In [7]:
df_2014 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/2010-19 datasets/2014_final.csv')

In [8]:
df_2015 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/2010-19 datasets/2015_final.csv')

In [9]:
df_2016 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/2010-19 datasets/2016_final.csv')

In [10]:
df_2017 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/2010-19 datasets/2017_final.csv')

In [11]:
df_2018 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/2010-19 datasets/2018_final.csv')

In [12]:
df_2019 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/2010-19 datasets/2019_final.csv')

In [13]:
# To display all columns 
pd.set_option('display.max_rows', None)  
pd.set_option('display.max_columns', None)

In [14]:
# Combining dataframes for all years 
combined_df = pd.concat([df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019], ignore_index=True)

In [15]:
# Droping coloumns not needed for ananlysis 
combined_df = combined_df.drop(columns=['llama_prediction', 'Explicit_Pass_1', 'NER_Pass_1','NER_Pass_1_Sorted', 'NER_Pass_1_Coordinates',
                                        'NER_prediction', 'tract','Calculated_Tract', 'actual_body_word_count', 'indexing_terms','pub_date', 
                                        'Unnamed: 0', 'NER_Sorted','lede'])

In [16]:
combined_df.columns

Index(['hl1_x', 'body', 'NER_Sorted_Coordinates', 'position_section',
       'position_subsection', 'hl1_y', 'hl2', 'author', 'year', 'body_cleaned',
       'longitude', 'latitude', 'Tracts', 'T_Total', 'T_White alone',
       'T_Black or African American alone',
       'T_American Indian and Alaska Native alone', 'T_Asian alone',
       'T_Native Hawaiian and Other Pacific Islander alone',
       'T_Some Other Race alone', 'T_Population of two or more races',
       'T_Total Hispanic or Latino origin', 'T_Not Hispanic or Latino',
       'T_Hispanic or Latino', 'Article_Count', 'T_majority_race',
       'Neighborhood', 'White alone', 'Black or African American alone',
       'Hispanic or Latino', 'Asian, Native Hawaiian and Pacific Islander',
       'Other Races or Multiple Races', 'majority_race', 'Tract'],
      dtype='object')

In [17]:
combined_df['position_section'].unique()

array(['BUSINESS', 'G', 'SPORTS', 'NEWS', 'REGIONAL', 'LIVING ARTS',
       'MAGAZINE', 'EDITORIAL OPINION', 'SUNDAY', 'DIVERSITY', 'TAB2',
       'unknown', 'REALESTATE', nan, 'TABM'], dtype=object)

In [18]:
combined_df = combined_df.drop(columns=['hl1_y','NER_Sorted_Coordinates', 'hl2', 'Tract'])

In [24]:
# Converting dataframe to csv file for further analysis 
combined_df.to_csv('final_combined3.csv', index=False)

In [19]:
# Loading datasets for mean sentiment scores for all years 

df_2010_ = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/mean sentiment score/mean_sentiment_2010.csv')
df_2011_ = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/mean sentiment score/mean_sentiment_2011.csv')
df_2012_ = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/mean sentiment score/mean_sentiment_2012.csv')
df_2013_ = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/mean sentiment score/mean_sentiment_2013.csv')
df_2014_ = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/mean sentiment score/mean_sentiment_2014.csv')
df_2015_ = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/mean sentiment score/mean_sentiment_2015.csv')
df_2016_ = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/mean sentiment score/mean_sentiment_2016.csv')
df_2017_ = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/mean sentiment score/mean_sentiment_2017.csv')
df_2018_ = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/mean sentiment score/mean_sentiment_2018.csv')
df_2019_ = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/mean sentiment score/mean_sentiment_2019.csv')

In [20]:
# Merging all dataframes with mean sentiment analysis for all years
sentiment_combined_df = pd.concat([df_2010_, df_2011_, df_2012_, df_2013_, df_2014_, df_2015_, df_2016_, df_2017_, df_2018_, df_2019_], ignore_index=True)

In [21]:
sentiment_combined_df = sentiment_combined_df.drop(columns= ['Tract'])

In [22]:
sentiment_combined_df.head()

,year,position_section,position_subsection,longitude,latitude,Tracts,Article_Count,Neighborhood,White alone,Black or African American alone,Hispanic or Latino,"Asian, Native Hawaiian and Pacific Islander",Other Races or Multiple Races,majority_race,Sentiment,Mean_Sentiment_Section,Mean_Sentiment_Neighborhood
0,2010.0,BUSINESS,unknown,-71.118563,42.362780,803.0,35.0,Allston,12536.0,1326.0,3259.0,6271.0,1512.0,White alone,0.019024,0.081353,0.083669
1,2010.0,G,Living Arts,-71.118116,42.360262,803.0,35.0,Allston,12536.0,1326.0,3259.0,6271.0,1512.0,White alone,0.169098,0.164853,0.083669
2,2010.0,SPORTS,unknown,-71.117705,42.352197,803.0,35.0,Allston,12536.0,1326.0,3259.0,6271.0,1512.0,White alone,-0.016051,0.106107,0.083669
3,2010.0,NEWS,Metro,-71.119302,42.356444,803.0,35.0,Allston,12536.0,1326.0,3259.0,6271.0,1512.0,White alone,-0.084649,0.076112,0.083669
4,2010.0,BUSINESS,unknown,-71.118563,42.362780,803.0,35.0,Allston,12536.0,1326.0,3259.0,6271.0,1512.0,White alone,-0.024444,0.081353,0.083669

In [129]:
# Converting dataframe to csv file 

sentiment_combined_df.to_csv('mean_sentimentscore_df.csv', index=False)

In [4]:
# Loading dataframes for article count for all years 

count_10 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/count_2010.csv')
count_11 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/count_2011.csv')
count_12 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/count_2012.csv')
count_13 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/count_2013.csv')
count_14 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/count_2014.csv')
count_15 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/count_2015.csv')
count_16 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/count_2016.csv')
count_17 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/count_2017.csv')
count_18 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/count_2018.csv')
count_19 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Rachel/count_2019.csv')

In [6]:
# Combining all years for article count dataframe 
combined_df_count = pd.concat([count_10, count_11, count_12, count_13, count_14, count_15, count_16, count_17, count_18, count_19], ignore_index=True)

In [18]:
# Formating all values in the 'tract' column to one decimal place
combined_df_count['tract'] = combined_df_count['tract'].map(lambda x: f"{x:.1f}")

In [22]:
combined_df_count.head()

     year    tract  Article_Count
0  2010.0    803.0           35.0
1  2010.0  30300.0         1279.0
2  2010.0    402.0            2.0
3  2010.0  60600.0           27.0
4  2010.0  30200.0           11.0

In [20]:
# Converting dataframe to csv file 
combined_df_count.to_csv('combined_articleCount.csv', index=False)